wsdl/rksv.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="Certificate"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="CertificateResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CertificateResult" nillable="true" type="xs:base64Binary"/></xs:sequence></xs:complexType></xs:element><xs:element name="ZDA"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="ZDAResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ZDAResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="Sign"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary"/></xs:sequence></xs:complexType></xs:element><xs:element name="SignResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SignResult" nillable="true" type="xs:base64Binary"/></xs:sequence></xs:complexType></xs:element><xs:element name="Echo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="EchoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>