wsdl/rksv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="rksv" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="./rksv.xsd" namespace="http://tempuri.org/"/>
			<xsd:import schemaLocation="./serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IATSSCD_Certificate_InputMessage">
		<wsdl:part name="parameters" element="tns:Certificate"/>
	</wsdl:message>
	<wsdl:message name="IATSSCD_Certificate_OutputMessage">
		<wsdl:part name="parameters" element="tns:CertificateResponse"/>
	</wsdl:message>
	<wsdl:message name="IATSSCD_ZDA_InputMessage">
		<wsdl:part name="parameters" element="tns:ZDA"/>
	</wsdl:message>
	<wsdl:message name="IATSSCD_ZDA_OutputMessage">
		<wsdl:part name="parameters" element="tns:ZDAResponse"/>
	</wsdl:message>
	<wsdl:message name="IATSSCD_Sign_InputMessage">
		<wsdl:part name="parameters" element="tns:Sign"/>
	</wsdl:message>
	<wsdl:message name="IATSSCD_Sign_OutputMessage">
		<wsdl:part name="parameters" element="tns:SignResponse"/>
	</wsdl:message>
	<wsdl:message name="IATSSCD_Echo_InputMessage">
		<wsdl:part name="parameters" element="tns:Echo"/>
	</wsdl:message>
	<wsdl:message name="IATSSCD_Echo_OutputMessage">
		<wsdl:part name="parameters" element="tns:EchoResponse"/>
	</wsdl:message>
	<wsdl:portType name="IATSSCD">
		<wsdl:operation name="Certificate">
			<wsdl:input wsaw:Action="http://tempuri.org/IATSSCD/Certificate" message="tns:IATSSCD_Certificate_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IATSSCD/CertificateResponse" message="tns:IATSSCD_Certificate_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ZDA">
			<wsdl:input wsaw:Action="http://tempuri.org/IATSSCD/ZDA" message="tns:IATSSCD_ZDA_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IATSSCD/ZDAResponse" message="tns:IATSSCD_ZDA_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="Sign">
			<wsdl:input wsaw:Action="http://tempuri.org/IATSSCD/Sign" message="tns:IATSSCD_Sign_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IATSSCD/SignResponse" message="tns:IATSSCD_Sign_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="Echo">
			<wsdl:input wsaw:Action="http://tempuri.org/IATSSCD/Echo" message="tns:IATSSCD_Echo_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IATSSCD/EchoResponse" message="tns:IATSSCD_Echo_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomBinding_IATSSCD" type="tns:IATSSCD">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Certificate">
			<soap:operation soapAction="http://tempuri.org/IATSSCD/Certificate" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ZDA">
			<soap:operation soapAction="http://tempuri.org/IATSSCD/ZDA" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Sign">
			<soap:operation soapAction="http://tempuri.org/IATSSCD/Sign" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Echo">
			<soap:operation soapAction="http://tempuri.org/IATSSCD/Echo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="rksv">
		<wsdl:port name="CustomBinding_IATSSCD" binding="tns:CustomBinding_IATSSCD">
			<soap:address location="http://localhost:37587/rksv"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>